{
  // "presets": [["react-app", { "typescript": true }], "@babel/preset-flow"],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@babel/preset-flow"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    ["styled-components", { "ssr": true }]
  ]
}
